body {
  margin: 0;
  background-color: var(--bg-color);
  overscroll-behavior: none;
}

.view-back {
  padding: 16px 0 !important;
}

.view-heading {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-2);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: var(--spacing-2);
}

.button-big,
.button-icon,
.button-medium {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

button {
  transition: all var(--transition-duration-fast) var(--easing);
}

button:not(:disabled):active {
  scale: .95;
}

.button-big,
.button-medium {
  gap: 8px;
}

.button-medium {
  --border-width: 2px;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 16px;
}

.button-big {
  --border-width: 3px;
  border-radius: 12px;
  padding: clamp(8px, 3vh, 24px) 48px;
  font-size: 20px;
}

.button-medium svg {
  width: 16px;
  height: 16px;
}

.button-big svg {
  width: 24px;
  height: 24px;
}

.button-primary:disabled, .button-secondary:disabled {
  background-color: #ddd;
  color: #777;
  cursor: not-allowed;
  border-color: #777;
}

.button-primary {
  background: var(--bg-surface-primary);
  color: var(--on-surface);
  border: var(--border-width, 2px) solid var(--on-surface);
}

.button-secondary {
  border: var(--border-width, 2px) solid var(--on-surface);
  background: var(--bg-surface-light);
  color: var(--on-surface);
}

.button-icon {
  width: var(--size, 40px);
  height: var(--size, 40px);
  font-size: 14px;
  border-radius: 999px;
  padding: 0;
}

.icon-link-button {
  background: none;
  padding: 0;
  color: var(--on-surface);
  border: none;
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
}
