.page-layout {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  /* safe areas are for installed users in PWA standalone mode */
  padding-top: calc(var(--spacing-1) + env(safe-area-inset-top));
  padding-right: calc(var(--spacing-1) + env(safe-area-inset-right));
  padding-bottom: calc(var(--spacing-1) + env(safe-area-inset-bottom));
  padding-left: calc(var(--spacing-1) + env(safe-area-inset-left));
  overflow-x: hidden;
  --max-content-width: 480px;
}

.page-layout > *,
.enter-scale {
  opacity: 0;
  scale: var(--enter-scale);
  animation: grow-in var(--transition-duration) var(--easing) forwards;
}

@keyframes grow-in {
  from {
    opacity: 0;
    scale: var(--enter-scale);
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
