* {
  box-sizing: border-box;
  font: inherit;
}

button {
  cursor: pointer;
  line-height: 1;
  text-transform: inherit;
}

button:disabled {
  cursor: not-allowed;
}

button:focus-visible {
  outline: 4px solid #000;
  outline-offset: 2px;
}
