:root {
  --spacing-1\/2: 8px;
  --spacing-1: 16px;
  --spacing-2: 32px;
  --bg-surface: #FFEC8B;
  --bg-surface-light: #FFF3B8;
  --bg-surface-primary: #FFD324;
  --on-surface: #000;
  --bg-color: var(--bg-surface);
  --easing: ease;
  --transition-duration: .5s;
  --enter-scale: .6;
}
